body {
    margin: 0px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    background-image: url('../images/birds\ eye\ view.png'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;
  }
  
  .topnav {
    margin-top: 0px;
    height: 40px;
    width: 100%;
    background-color: rgba(168, 168, 168, 0.3);
    border-radius: 0px 0px 25px 25px;
    position: relative;
  }
  
  .topnav a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: rgb(137, 137, 137);
    color: rgb(0, 0, 0);
    border-radius: 25px;
  }
  
  .topnav a.active {
    background-color: rgba(255, 0, 0, 1);
    color: rgb(255, 255, 255);
    border-radius: 25px;
  }

  .one {
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    margin-top: 50px;
    margin-left: 13px;
    margin-right: 13px;
    height: 300px;
    width: 48%;
    background-color: rgba(168, 168, 168, 0.611);
    border-radius: 25px;
    font-size: 15px;
  }

  .two {
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    margin-top: -300px;
    margin-left: 13px;
    margin-right: 13px;
    height: 300px;
    width: 48%;
    background-color: rgba(168, 168, 168, 0.611);
    border-radius: 25px;
    font-size: 15px;
    float: right;
  }

  .three {
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
    height: 300px;
    width: 48%;
    background-color: rgba(168, 168, 168, 0.611);
    border-radius: 25px;
    font-size: 15px;
  }

  .four {
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    margin-top: -300px;
    margin-left: 13px;
    margin-right: 13px;
    height: 300px;
    width: 48%;
    background-color: rgba(168, 168, 168, 0.611);
    border-radius: 25px;
    font-size: 15px;
    float: right;
  }

  .five {
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
    height: 300px;
    width: 48%;
    background-color: rgba(168, 168, 168, 0.611);
    border-radius: 25px;
    font-size: 15px;
  }

  .six {
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    margin-top: -300px;
    margin-left: 13px;
    margin-right: 13px;
    height: 300px;
    width: 48%;
    background-color: rgba(168, 168, 168, 0.611);
    border-radius: 25px;
    font-size: 15px;
    float: right;
  }
  .seven {
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
    height: 300px;
    width: 48%;
    background-color: rgba(168, 168, 168, 0.611);
    border-radius: 25px;
    font-size: 15px;
  }
  .leeropbrengst {
      padding-top: 30px;
      font-size: 50px;
  }
  table {
    text-align: center;
    color: black;
    background-color: grey;
    font-family: "Arial Black", sans-serif;
    padding: 0px;
    border: 2px solid;
    border-style: solid;
    margin: 2px;
  }
  .c1 {
    color: black;
    padding: 5px;
    background-color: grey;
    width: 300px;
  }